@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-btns{
    display: flex;
    align-items: center;
    padding: 4px;
    margin: 0px 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    background-color: blue;
}

.btn-nav{
    border-radius: 46px;
    background-color: transparent;
    display: flex;
    align-items: center;
    padding: 8px 20px 8px 20px;
    width: 92px;
    height: 38px;
}

.btn-nav:hover{
    background-color: rgb(230, 83, 60);;
}