/* ----------------------------Whole Body Area-------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* ------------------------------------Nav Styles--------------------------------------- */

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-btns{
    display: flex;
    align-items: center;
    padding: 4px;
    margin: 0px 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    /* background-color: blue; */
}

.btn-nav{
    border-radius: 46px;
    background-color: transparent;
    display: flex;
    align-items: center;
    padding: 8px 20px 8px 20px;
    width: 92px;
    height: 38px;
    border: none;
    color: rgb(255, 255, 255);
}

.btn-nav:hover{
    background-color: rgb(230, 83, 60);;
}

.logo{
    color: rgb(230, 83, 60);
    font-size: 20px;
    font-style: italic;
}

header{
    max-width: 1440px;
    height: 715px;
    border: 2px solid red;
    padding-top: 58.5px;
    padding-left: 190px;
    padding-right: 190px;
    padding-bottom: 0px;
    background-color: rgb(17, 17, 17);
    background-image: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
}

/* -----------------------------Hero Section Styles--------------------------------- */

.hero-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-title{
    font-size: 78px;
    font-weight: 900;
    text-align: left;
    color: rgb(255, 255, 255);
}

.hero-paragraph{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}

.hero-btn{
    width: 224px;
    height: 54px;
    padding: 16px 40px 16px 40px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    border: none;
}