/* ----------------------------Whole Body Area-------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.heading-primary{
    font-size: 48px;
    font-weight: 900;
    color: rgb(255, 255, 255);
}

.paragraph-primary{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
}

.paragraph-secondary{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
}

/* ------------------------------------Nav Styles--------------------------------------- */

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(17, 17, 17);
    max-width: 1440px;
    margin: 0 auto;
}

.nav-btns{
    display: flex;
    align-items: center;
    padding: 4px;
    margin: 0px 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    /* background-color: blue; */
}

.btn-nav{
    border-radius: 46px;
    background-color: transparent;
    display: flex;
    align-items: center;
    padding: 8px 20px 8px 20px;
    width: 92px;
    height: 38px;
    border: none;
    color: rgb(255, 255, 255);
    
    &:hover{
        background-color: rgb(230, 83, 60);;
    }
}


.logo{
    color: rgb(230, 83, 60);
    font-size: 20px;
    font-style: italic;
}

header{
    max-width: 1440px;
    margin: 0 auto;
    /* border: 2px solid red; */
    padding-top: 58.5px;
    padding-left: 190px;
    padding-right: 190px;
    padding-bottom: 0px;
    background-color: rgb(17, 17, 17);
    background-image: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
}

/* -----------------------------Hero Section Styles--------------------------------- */

.hero-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-title{
    font-size: 78px;
    font-weight: 900;
    text-align: left;
    color: rgb(255, 255, 255);
}

.hero-paragraph{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}

.hero-btn{
    width: 224px;
    height: 54px;
    padding: 16px 40px 16px 40px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    border: none;
}

.hero-content-img img{
    /* border: 2px solid red; */
    position: relative;
    width: 349px;
    height: 580px;
    margin: 0px;
    padding: 0px;
}

/* ----------------------------Change Your Habits Section--------------------------- */

.change-habit-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    background-color: rgb(17, 17, 17);
}

.change-habit-img-container{
    display: flex;

}


/* ------------------------------Run Extra Miles Section-------------------------------------- */